

@import "color";

@import "reset";

@import "fonts";

@import "mixins";

@import "base";

@import "grid";



// background-container
.container {
	background: url(../img/bg-overlay.jpg) center center no-repeat;
	background-size: cover;

	@include respond-to( 1100px ) {
		border-left: 2px solid rgba( $blue, .2 );
		border-right: 2px solid rgba( $blue, .2 );
		box-shadow: 0 0 60px rgba( $grey, .2 );	
	}

	@include respond-to( 1220px ) {
		padding-bottom: 20px;
	}
}


// header styles
header {
	position: relative;
	text-align: center;

	img {
		display: block;

		&.large {
			display: none;
		}
	
		@include respond-to( 768px ) {
			&.small {
				display: none
			}

			&.large {
				display: block;
			}
		}
	}

	.buttons {
		text-align: center;
		padding: 15px;
		@include clearfix;

		img {
			margin: 5px 0;
			opacity: 1;
			transition: 300ms opacity ease-in-out;
			width: 100%;

			&:hover {
				opacity: .8;
			}

			@include respond-to( 480px ) {
				width: 48%;
				margin: 5px 1%;
				float: left;
			}

			@include respond-to( 768px ) {
				width: auto;
				float: none;
				margin: 5px 0;
			}
		}

		@include respond-to( 768px ) {
			position: absolute;
			top: 10px;
			right: 10px;
			width: 38%;
		}	
	}
}


// wrap div
.wrap {
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
	@include clearfix;
}



// padding div that'll resize for larger screens.
.pad {
	padding: 30px 20px;
}



.savings-thermometer {
	margin: 0 auto;

	@include respond-to( 500px ) {
		float: right;
		margin: -30px 0 0 0;
	}
}



.main {
	max-width: 850px;
	margin: 0 auto;
	
	.title {
		padding: 20px;
		padding-bottom: 10px;

		@include respond-to( 768px ) {
			img {
				max-width: 60%;
				float: left;
			}

			h3 {
				float: right;
				padding: 23px 0 0 0;
				font-size: 20px;
			}
		}

		@include respond-to( 920px ) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	section {
		margin-bottom: 60px;

		.result {
			background: rgba( white, .8 );
			border-radius: 20px;
			padding: 20px;
			text-align: center;
			
			@include respond-to( 768px ) {
				padding: 30px 40px;
				margin-top: 30px;
			}

			h3, p {
				padding: 0;
			}

			h3 {
				font-size: 1.8em;
			}

			p {
				font-size: 1.2em;
			}
		}

		&.bg-blue .btn { margin: 0; }

		&.bg-red { border-top: 40px solid $red; }
		&.bg-grey { border-top: 40px solid $grey; }
		&.bg-green { border-top: 40px solid $green; }
		&.bg-lime { border-top: 40px solid $lime; }
		&.bg-tan { border-top: 40px solid $tan; }

		@include respond-to( 768px ) {	
			margin-bottom: 80px;

			&.bg-red { border-top: 50px solid $red; }
			&.bg-grey { border-top: 50px solid $grey; }
			&.bg-green { border-top: 50px solid $green; }
			&.bg-lime { border-top: 50px solid $lime; }
			&.bg-tan { border-top: 50px solid $tan; }
		}

		@include respond-to( 1024px ) {	
			&.bg-red { border-top: 60px solid $red; }
			&.bg-grey { border-top: 60px solid $grey; }
			&.bg-green { border-top: 60px solid $green; }
			&.bg-lime { border-top: 60px solid $lime; }
			&.bg-tan { border-top: 60px solid $tan; }
		}

		table {
			width: 100%;

			tr {
				th {
					background: $blue;
					color: white;
					text-transform: uppercase;
					font-size: 1.2em;
					padding: 15px;
					text-align: center;
				}

				td {
					padding: 10px;
					text-align: center;
					vertical-align: middle;
					font-weight: bold;

					@include respond-to( 480px ) {
						font-size: 1.8em;
					}

					@include respond-to( 768px ) {
						padding: 10px 20px;
					}

					&.bal {
						background: rgba( $blue, .2 );
					}
				}

				&.even td {
					background: $blue-light;

					&.bal {
						background: rgba( $blue, .4 );
					}
				}
			}
		}
	}
}



// button styles
input[type=submit], button, .btn {
	@include font-title;
	padding: 15px 35px 15px 15px;
	background: $red;
	color: white;
	border: 0;
	font-size: 1.8em;
	line-height: 1.4em;
	text-transform: uppercase;
	display: block;
	width: 100%;
	cursor: pointer;
	text-align: center;
	position: relative;
	margin: 10px 0 0;
	transition: 400ms opacity ease-in-out;
	opacity: 1;

	@include respond-to( 768px ) {
		padding-right: 50px;
	}

	&:hover {
		color: white;
		opacity: .8;
	}

	&:after {
		content: '';
		background: url(../img/button-arrow.png) center center;
		display: inline-block;
		height: 25px;
		width: 25px;
		position: absolute;
		right: 10px;
		top: 50%;
		margin-top: -12.5px;

		@include respond-to( 768px ) {
			right: 30px;
		}
	}

	.bg-blue & { background: $blue; }
	.bg-teal & { background: $teal; }
	.bg-yellow & { background: $yellow; }
	.bg-green & { background: $green; }
	.bg-grey & { background: $grey; }
	.bg-tan & { background: $tan; color: darken( $tan, 40% ); }
}



// footer styles
.footer-bar {
	padding: 20px;
	text-align: center;

	a {
		transition: 400ms opacity ease-in-out;
		opacity: .7;

		&:hover {
			opacity: 1;
		}
	}
}



.fine-print {
	padding: 0 30px 30px;
	font-size: .75em;
	line-height: 1.3em;
	text-align: left;
	color: black;
	transition: 400ms opacity ease-in-out;
	opacity: .4;

	&:hover {
		opacity: 1;
	}

	img {
		float: right;
		margin: 0 0 15px 15px;
	}
}

