

// color variables
$grey: #414042;
$blue: #005388;
$teal: #27AAE1;
$green: #66BD5A;
$lime: #8DC63F;
$yellow: #FFF200;
$tan: #DFD7CD;
$red: #D63D41;


@import "reset";

@import "fonts";

@import "mixins";

@import "base";

@import "grid";



// background-container
.container {
	background: white;
	padding-bottom: 40px;

	@include respond-to( 1220px ) {
		padding-bottom: 20px;
	}
}


// header styles
header {
	position: relative;
	background-color: $tan;
	text-align: center;
	border-bottom: 15px solid $red;

	img {
		display: block;
	}
}


// wrap div
.wrap {
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
	@include clearfix;
}



// main content container
.main {
	background: $blue;
}



// padding div that'll resize for larger screens.
.pad {
	padding: 30px 20px;
}



// intro styles
.intro {	
	@include font-title-light;
	font-size: 1.5em;
	line-height: 1.7em;
	text-align: center;

	&.pad {
		padding: 15px 20px;
	}
}



// colors
.bg-blue { background: $blue; }
.bg-teal { background: $teal; }
.bg-green { background: $green; }
.bg-lime { background: $lime; }
.bg-red { background: $red; }



// tool styles
.tool {
	padding: 0;
	color: white;
	
	@include respond-to( 768px ) {
		padding: 20px 40px;
	}

	.calculator {
		padding: 10px 15px 10px;
		@include font-title;

		button, input[type=submit], .btn {
			width: 100%;
			margin: 0 auto;
		}
		
		@include respond-to( 768px ) { 
			margin-top: 30px;
			border-radius: 20px;
			font-size: 1.2em;

			img {
				margin-top: 20px;
			}
		}
	}
}



// results styles
.results {
	display: none;
	text-align: center;
	@extend .pad;
	color: white;

	// large title
	h2 {
		@include font;
		font-size: 1.8em;
		color: $yellow;

		@include respond-to( 768px ) {
			font-size: 3em;
			padding: 10px 20px;
		}
	}

	p {
		font-size: 1.2em;

		strong {
			font-size: 1.4em;
		}

		&.larger {
			font-size: 1.4em;
		}
	}
}



// button styles
input[type=submit], button, .btn {
	@include font-title;
	padding: 15px;
	background: $red;
	color: white;
	border: 0;
	border-radius: 10px;
	font-size: 2em;
	line-height: 1.4em;
	text-transform: uppercase;
	display: block;
	width: 90%;
	cursor: pointer;
	text-align: center;
	position: relative;
	margin: 10px auto;
	
	span {
		display: block;
	}

	&.calculate {
		background: $red url(../img/bg-button.png) center center no-repeat;
		background-size: contain;
		color: transparent;
		padding: 30px 20px;
	}

	&.apply {
		background: $red url(../img/bg-apply.png) center center no-repeat;
		background-size: contain;
		color: transparent;
	}
	
	&:hover {
		opacity: .9;
	}

	&.go-back {
		background: lighten( $grey, 20% );
		font-size: 1.5em;
		color: white;
	}

	@include respond-to( 768px ) {
		max-width: 45%;
		margin: 30px auto;
	}
}



// footer styles
.footer-bar {
	padding: 20px;
	text-align: center;

	&, a {
		color: $grey;
	}

	h2 {
		@include font;
	}

	h2 {
		font-size: 2.4em;
		line-height: 100px;
		text-transform: uppercase;
	}

	h4 {
		font-size: 17px;
		@include respond-to( 800px ) { font-size: 26px; }
	}

	.sixty, .fourty {
		text-align: center;
	}

}



.fine-print {
	background: white;
	padding: 0 20px;
	font-size: .8em;
	line-height: 1.3em;
	text-align: left;

	img {
		float: right;
		margin: 0 0 15px 15px;
	}
}

